@import "variables";

.top-panel {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
}

header {
  font-family: 'Roboto Slab', serif;
  font-size: $content;
  width: 190px;
  height: $content;
  margin: 20px 0;
  color: $basic-color;
  .box-logo {
    color: $button-color;
  }
}

input, textarea {
  text-indent: 10px;
  color: $border-color;
  border: 2px solid $border-color;
}

input, textarea, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.destroy, .upvote, .downvote {
  text-indent: -99999px;
}

label {
  text-indent: -99999px;
}

textarea {
  resize: none;
}

textarea::-webkit-input-placeholder {
  padding-top: -10px;
}

.task-title-class, .task-body-class, .search-class {
  height: 40px;
  width: $content*10;
  margin: 5px 0;
  outline: none;
}

.task-body-class {
  padding-top: 10px;
  height: 30px;
  width: 497px;
}

.title-counter, .body-counter {
  color: $button-color;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  height: $content/2;
  width: 160px;
  text-align: center;
}

.save-btn-class, #load-more {
  height: 43px;
  width: 505px;
  margin: 10px 0 40px 0;
  background-color: $secondary-color;
  color: $btn-text-color;
  border: none;
  outline: none;
  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}

.bottom-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-class {
  margin: 20px 0 30px 0;
  outline: none;
}

h2 {
  color: $border-color;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  display: inline-block;
  margin-right: 8px;
}

#filters {
  margin-top: 10px;
  width: 70%;
  height: 30px;
  text-align: center;
}

.filter-btn {
  border-radius: 4px;
  border: none;
  background-color: $button-color;
  color: $btn-text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: inline-block;
  margin: 4px 7px 0 0;
  outline: none;
  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
  }
}

.bottom-header {
  font-size: 0px;
  height: 30px;
  width: auto;
}

h3 {
  color: $border-color;
  display: inline-block;
  font-size: 23px;
  line-height: 1.3;
  max-width: $content*6;
  max-height: 30px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $content*10;
  white-space: nowrap;
}

.changing-innertext {
  white-space: pre-wrap;
}

h4 {
  color: $border-color;
  display: inline-block;
  margin: 10px;
  position: absolute;
  bottom: -1px;
}

footer {
  margin-bottom: 30px;
  position: relative;
}

.importance-change {
  color: $border-color;
  font-family: 'Open Sans', sans-serif;
}

.task-card {
  border-bottom: solid thin $button-color;
  font-family: 'Roboto Slab', serif;
  margin-bottom: $content/2;
  width: $content*10;
}

.card-body {
  color: $border-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.3;
  margin: 20px 0;
  outline: none;
  width: $content*10;
}

.destroy, .upvote, .downvote {
  border: none;
  color: none;
  height: 30px;
  width: 30px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.destroy {
  background: url(../Images/delete.svg);
  float: right;
  position: static;
  &:hover {
    background: url(../Images/delete-hover.svg);
  }
}

.complete {
  border-radius: 4px;
  border: none;
  background-color: $button-color;
  color: $btn-text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  float: right;
  margin: 4px 7px 0 0;
  outline: none;
  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
  }
}

.hide {
  display: none;
}

.upvote {
  background: url(../Images/upvote.svg);
  margin-right: 10px;
  &:hover {
    background: url(../Images/upvote-hover.svg);
  }
}

.downvote {
  background: url(../Images/downvote.svg);
  margin: 0 20px 0 10px;
  &:hover {
    background: url(../Images/downvote-hover.svg);
  }
}

.strikethrough {
  text-decoration: line-through;
}

@media screen and (max-width: $content*11) {
  .top-panel, .bottom-panel, .card-body {
    width: 100%;
  }

  h3, .idea-output, .save-btn-class, .search-class, #load-more, .task-title-class, .task-body-class, .task-card {
    width: $content*6;
  }

  h3 {
    max-width: $content*3;
  }

  .search-class {
    margin: 40px 0 30px 0;
  }

  .task-body-class {
    height: $content*2;
  }
}
