body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

.top-panel {
  font-family: 'Roboto Slab', serif;
  background-color: #E5F3F2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}

main {
  border: 2px solid maroon;
  height: 80%;
  width: 50%;
  text-align: center;
}

main section {
  display: flex;
  border: 2px solid yellow;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: #00A79D;
}

span {
  color: #6E6D71;
}

input, .save-btn {
  font-size: 1.5rem;
  margin: 20px auto;
  width: 90%;
  height: 40px;
}

input {
  text-indent: 10px;
  outline: none;
}

.save-btn {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  outline: none;
  transition-duration: 0.5s;
}

.save-btn:hover {
  cursor: pointer;
  background-color: #045E55;
}

.idea-card {
  border-bottom: 2px solid #6E6D71;
}

.bottom-panel {
  font-family: 'Roboto Slab', serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.search {
  width: 45%;
  height: 50px;
  border: 1px solid;
  outline: none;
}
.idea-card {
  width: 500px;
  height: auto;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}

.card-header {
  display: inline-block;
  width: 50%;
  color: #6D6E71;
}

h3 {
  display: inline-block;
}

.remove-button {
  float: right;
}
