$primary-color:   #4F0D13;
$secondary-color: #EDBE91;
$hover-color:     #E2974F;
$basic-color:     #FFFFFF;
$button-color:    #D1D3D4;
$border-color:    #6D6E71;
$btn-text-color:  #000000;

$content: 50px;
